{% extends "FlowcodeDashboardBundle:Default:layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Setting'}, 'Setting') }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('admin_flowrsync_setting') }}"> {{ '%entity% list'|trans({'%entity%': 'Setting'}, 'Setting') }}</a>
            /
            {{ 'Setting' | trans({}, 'Setting')}}
        </h1>

    </section>        
    <section class="content">
        <div class="box">
            <div class="box-body">
                {{ form_start(form, {action: path('admin_flowrsync_setting_create')}) }}
                    {{ form_widget(form) }}
                    <p>
                        <button class="btn-default btn" type="submit">{{ 'save'|trans | capitalize}}</button>
                    </p>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">
                        
        <div class="btn-group record_actions"></div>

            </div>
        </div>
    </section>
{% endblock %}
